<div class="accordion mb-2" id="formAccordion">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button enteteAccordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Formulaire de recherche
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#formAccordion">
			<div class="accordion-body">
				<div class="row">
					<div class="col-12 col-md-3">
						<div class="mb-3">
							<label class="form-label" for="user_search_username">Nom d'utilisateur</label>
							<input type="text" id="user_search_username" class="form-control js-search-input" data-label="username" placeholder="Rechercher...">
						</div>
						<div class="mb-3">
							<label class="form-label" for="user_search_matricule">N° matricule</label>
							<input type="text" id="user_search_matricule" class="form-control js-search-input" data-label="matricule" placeholder="Rechercher...">
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="mb-3">
							<label class="form-label" for="user_search_mail">Adresse mail</label>
							<input type="text" id="user_search_mail" class="form-control js-search-input" data-label="mail" placeholder="Rechercher...">
						</div>
						<div class="mb-3">
							<label class="form-label" for="user_search_code_sage">Code Sage</label>
							<input type="text" id="user_search_code_sage" class="form-control js-search-input" data-label="code-sage" placeholder="Rechercher...">
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="mb-3">
							<label class="form-label" for="user_search_profil">Profil</label>
							<input type="text" id="user_search_profil" class="form-control js-search-input" data-label="profil" placeholder="Rechercher...">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
