<div class="modal fade" id="relance" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Liste relance devis client
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			{# body du modal#}
			<div class="modal-body">
				<table class="table rounded mt-1">
					<thead class="table">
						<tr>
							<th class="text-center">Devis</th>
							<th class="text-center">Relance n°</th>
							<th class="text-center">Relancé le</th>
							<th class="text-center">Société</th>
							<th class="text-center">Agence</th>
							<th class="text-center">Utilisateur</th>
						</tr>
					</thead>
					<tbody id="modalRelanceBody">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
