<p>
	La demande de support informatique n°
	<b>{{ tab.numTik }}</b>
	a été validée par
	<b>{{ tab.userConnecter }}</b>.
</p>
<p>
	<b>Détails de la demande:</b>
	<ul>
		<li>
			<b>Intervenant affecté:</b>
			{{ tab.variable }}
		</li>
	</ul>
</p>
