<p>
	Une nouvelle demande de support informatique a été créée par
	<b>{{ tab.userConnecter }}</b>.
</p>
<p>
	<b>Détails du ticket :</b>
	<ul>
		<li>
			<b>Numéro du ticket :</b>
			{{ tab.numTik }}
		</li>
		<li>
			<b>Objet de la demande :</b>
			{{ tab.objet }}
		</li>
		<li>
			<b>Détail de la demande :</b>
		</li>
	</ul>
</p>
<div class="espace">
	{{ tab.detail | raw }}
</div>
