<p>
	La demande de support informatique n°
	<b>{{ tab.numTik }}</b>
	a été transférée par
	<b>{{ tab.userConnecter }}</b>.
</p>
<p>
	Le ticket est maintenant affecté à
	<b>{{ tab.variable }}</b>.
</p>
