<div class="email-header">
	{{ numTik }}
	- TICKET
	<span class="{{ statut }}">
		{% if statut == "valide" %}
			VALIDÉ
		{% elseif statut == "refuse" %}
			REFUSÉ
		{% elseif statut == "cloture" %}
			CLÔTURÉ
		{% elseif statut == "planifie" %}
			PLANIFIÉ
		{% elseif statut == "resolu" %}
			RÉSOLU
		{% elseif statut == "comment" %}
			COMMENTÉ
		{% elseif statut == "transfere" %}
			TRANSFERÉ
		{% elseif statut == "newTik" %}
			CRÉÉ
		{% elseif statut == "suspendu" %}
			SUSPENDU
		{% endif %}
	</span>
</div>
