<div class="modal fade" id="pointageRelanceModal" tabindex="-1" aria-labelledby="pointageRelanceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pointageRelanceModalLabel">Pointage Relance Devis</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Chargement du formulaire...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary" form="pointageRelanceForm">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
