/* Augmenter la largeur de la modale */
.modal-dialog.custom-width {
    max-width: 60%; /* Ajustez le pourcentage selon vos besoins */
}



/**===================================
* Container du choix de l'autaucomplet
*======================================*/
/* Conteneur de la liste des suggestions */
.suggestions-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); /* Noir transparent */
    /* border: 1px solid rgba(255, 255, 255, 0.3); Bordure blanche translucide */
    border-radius: 5px;
    max-height: 200px; /* Limite la hauteur des suggestions */
    overflow-y: auto; /* Active le défilement si nécessaire */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Ombre subtile */
    z-index: 1000;
    width: 40%; /* Assure que la liste occupe toute la largeur du champ */
    margin-top: 5px;
}

/* Style des éléments de suggestion */
.suggestions-container div {
    padding: 10px;
    font-size: 14px;
    color: #ffc107;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.suggestions-container div.active-suggestion {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }

/* Effet hover sur une suggestion */
.suggestions-container div:hover {
    background-color: #000000b2; /* Bleu clair pour hover */
    color: #ffffff; /* Bleu pour le texte */
}

/* Style pour aucune suggestion trouvée */
.suggestions-container .no_results {
    color: #888;
    text-align: center;
    font-style: italic;
    padding: 10px;
}

/**======================================
* Apparence du champ
*=======================================*/
/* Améliore l'apparence générale des champs */
input.autocomplete {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* Effet focus sur le champ d'entrée */
input.autocomplete:focus {
    border-color: #ffd900; /* Bordure bleue */
    box-shadow: 0 0 5px rgba(255, 208, 0, 0.5); /* Lueur bleue */
    outline: none;
}


/**======================================
* Apparence du champ
*=======================================*/
/* Améliore l'apparence générale des champs */
input.champColor {
    border-color: #ff0000; /* Bordure bleue */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Lueur bleue */
    outline: none;
}

.form-check-label {
    color: #ff0000; /* Texte rouge */
}



