<!-- Modal Bootstrap -->
<div class="modal fade" id="modalReouvert" tabindex="-1" aria-labelledby="modalReouvertLabel" aria-hidden="true" aria-live="assertive">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div
				class="modal-header">
				<!-- Titre avec icône -->
				<h4 class="modal-title m-auto fw-bold" id="modalReouvertLabel">
					<i class="fas fa-exclamation-triangle text-warning"></i>
					Accès refusé
				</h4>
				<button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Fermer"></button>
			</div>
			<div class="modal-body" style="font-size: 0.85rem;">
				<p class="text-danger" id="modal-reouverture-content"></p>
				<p>Pour plus d'informations, veuillez contacter un administrateur.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>
