<!-- Modal de confirmation -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content fs-6">
      <div class="modal-header">
        <h5 class="modal-title fw-bold m-auto" id="confirmationModalLabel">Déverouillage de la DA n° <numda></numda></h5>
        <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <p class="mb-0">Êtes-vous sûr(e) de vouloir déverouiller la DA n° <numda></numda>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
        <button type="button" class="btn btn-primary" id="confirmActionBtn">Oui</button>
      </div>
    </div>
  </div>
</div>
