<span class="vignette-bande">
	{% for i in 0..4 %}
		<span>
			13/04/2026 - V20260413.7.2.3 :
			<div class="news-ticker">
				<ul>
					<li>
						<b>DIT/OR : Intégration</b>
						<ul>
							<li>D’un nouveau type de DIT
								<b>« Préparation vente »</b>
							</li>
							<li>D’une nouvelle catégorie de DIT
								<b>« DAILY CHECK »</b>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</span>
	{% endfor %}
</span>
