{% if App.notification %}
	<div class="d-none" id="alert-notification" data-notification-type="{{ App.notification.type }}" data-notification-message="{{ App.notification.message }}"></div>
{% endif %}
