<p>
	La demande de déverrouillage concernant la DA n° <b>{{ tab.numDa }}</b> a été approuvée par <b>{{ tab.userConnecter }}</b>. 
	Elle est maintenant <span style="color: green; font-weight: bold;">déverrouillée</span> et peut à nouveau être modifiée si nécessaire.
</p>

